.card {
  background-color: #2e3a46;
  padding: 20px;
  margin: 20px;
  width: 200px;
  text-align: center;
  min-height: 350px;
  img {
    width: 100%;
    height: auto;
  }
}

.title {
  color: #fff;
  margin: 15px 0;
}

.author,
.year {
  color: #808080;
  font-size: 21px;
}

.year {
  font-size: 16px;
}