header {
  background-color: #2e3a46;
  height: 70px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

header img {
  height: 50px;
}

header select {
  height: 25px;
}

header label {
  color: #fff;
  margin-right: 10px;
}